<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SampleBaseContent" connectionString="Server=tcp:<<REMOVED>>.database.windows.net,1433;Database=SampleBase;User ID=<<REMOVED>>@<<REMOVED>>;Password=<<REMOVED>>;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- https://github.com/StackExchange/StackExchange.Redis/blob/master/Docs/Timeouts.md -->
    <processModel minIoThreads="50" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>